# IDE
.vscode
.idea/*


# Python
__pycache__/
*.py[cod]
*$py.class
.virtualenvs
*.egg-info/
dist/
.coverage
.coverage.*
coverage.log
coverage_html
.cache/
htmlcov/
pytest-out.xml
.pytest_cache/
build/

# Singer JSON files
properties.json
config.json
state.json

*.db
.DS_Store
venv
env
blog_old.md
node_modules
*.pyc
tmp

# Docs
docs/_build/
docs/_templates/

# Textio build
venv*/
*.tar.gz
.venv
.dev
.assets
.build
.test
.lint
.code

# Custom environment vars
.env
.env.*

# Testing

# Anciliary files
.vscode/
*.json.gz
.ruff_cache/